{% extends 'base.html' %} {% block content %}

<style>
  #loadingIndicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 1000;
  }
</style>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">Busca Vitrine-Ofertas</h1>
      <div class="card">
        <div class="card-body">
          <form id="cpfForm">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Digite o CPF"
                name="cpf"
                id="cpf"
                required
                maxlength="14"
                pattern="\d{3}\.\d{3}\.\d{3}-\d{2}"
                title="O CPF deve estar no formato 000.000.000-00"
              />
              <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
          </form>

          <div id="clientInfo" class="mt-3" style="display: none">
            <div
              class="container d-flex align-itens-center justify-content-center"
            >
              <h2>Dados Cliente:</h2>
            </div>
            <div
              class="container d-flex align-itens-center justify-content-center gap-3"
            >
              <div>
                <p><strong>Nome:</strong> <span id="clientName"></span></p>
              </div>
              <div>
                <p><strong>Email:</strong> <span id="clientEmail"></span></p>
              </div>
              <div>
                <p><strong>Telefone:</strong> <span id="clientPhone"></span></p>
              </div>
            </div>
          </div>

          <div id="divBandeira" style="display: none" class="mt-4">
            <h5 class="card-title">Bandeira</h5>
            <select class="form-select" id="bandeiraSeletor"></select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="loadingIndicator" style="display: none">
  <p>Carregando</p>
</div>

<div id="vitrineCliente" class="mt-3" style="display: none">
  <div class="container d-flex align-itens-center justify-content-center">
    <h2>Ofertas na Vitrine:</h2>
  </div>
  <div class="container-fluid" id="ofertasContainer"></div>
</div>

<div id="ativasCliente" class="mt-3" style="display: none">
  <div class="container d-flex align-itens-center justify-content-center">
    <h2>Ofertas Ativas:</h2>
  </div>
  <div class="container-fluid" id="ativasContainer"></div>
</div>

{% endblock %} {% block extra_scripts %}
<script src="{{ url_for('static', filename='js/ofertas.js')}}"></script>
{%endblock%}
